@media (min-width: 599px) and (max-width: 700px) and (orientation: portrait) {


    .logo {
        display: none;
    }


    .music-control div {
        display: none;
    }

    .single-pokemoncard-view {
        width: 100vw;
        height: 100vh;
    }

    .single-pokemon-upper-part {

        height: 44vh;
    }

    .info-container-lower-part {
        height: 56vh;
    }

    #myChart {
        height: 55vh !important;
        width: auto !important;
        right: calc(100% - 91%);
        top: 49px;
    }



    .single-pokemoncard-view-name {
        text-align: center;
    }

}

@media (min-width: 500px) and (max-width: 599px) and (orientation: portrait) {
    #myChart {
        right: calc(100% - 96vw);
        width: auto !important;
        top: 36px;
    }

    .logo {
        display: none;
    }


    .music-control div {
        display: none;
    }

    .single-pokemoncard-view {
        width: 100vw;
        height: 100vh;
    }

    .single-pokemon-upper-part {

        height: 44vh;
    }

    .info-container-lower-part {
        height: 56vh;
    }
}

@media (min-width: 400px) and (max-width: 500px) and (orientation: portrait) {

    #searchField {
        width: 30vw;
    }

    .music-control {
        width: 20vw;
    }

    #myChart {
        right: calc(100% - 95vw);
        top: 34px;
        width: auto !important;
    }

    .logo {
        display: none;
    }


    .music-control div {
        display: none;
    }

    .single-pokemoncard-view {
        width: 100vw;
        height: 100vh;
    }

    .single-pokemon-upper-part {

        height: 52vh;
    }

    .info-container-lower-part {
        height: 48vh;
    }
}

@media (min-width: 340px) and (max-width: 400px) and (orientation: portrait) {

    #searchField {
        width: 30vw;
    }

    .music-control {
        width: 20vw;
    }

    #myChart {
        right: 4vw;
        top: 34px;
        width: auto !important;
    }

    .logo {
        display: none;
    }


    .music-control div {
        display: none;
    }

    .single-pokemoncard-view {
        width: 100vw;
        height: 100vh;
    }

    .single-pokemon-upper-part {

        height: 52vh;
    }

    .info-container-lower-part {
        height: 48vh;
    }
}

@media (min-width: 300px) and (max-width: 340px) and (orientation: portrait) {

    #searchField {
        width: 30vw;
    }

    .music-control {
        width: 20vw;
    }

    #myChart {
        right: 2vw;
        top: 34px;
        width: auto !important;
    }

    .logo {
        display: none;
    }


    .music-control div {
        display: none;
    }

    .single-pokemoncard-view {
        width: 100vw;
        height: 100vh;
    }

    .single-pokemon-upper-part {

        height: 52vh;
    }

    .info-container-lower-part {
        height: 48vh;
    }
}

@media (min-width: 0px) and (max-width: 300px) and (orientation: portrait) {

    #searchField {
        width: 30vw;
    }

    .music-control {
        width: 20vw;
    }

    #myChart {
        right: 2vw;
        top: 34px;
        height: 40vh !important;
        width: auto !important;
    }

    .logo {
        display: none;
    }


    .music-control div {
        display: none;
    }

    .single-pokemoncard-view {
        width: 100vw;
        height: 100vh;
    }

    .single-pokemon-upper-part {

        height: 52vh;
    }

    .info-container-lower-part {
        height: 48vh;
    }
}

@media only screen and (orientation: landscape) {
    .single-pokemon-view {
        width: 100vw;
    }

    .single-pokemoncard-view {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .single-pokemon-upper-part {
        height: 100%;
        width: 43vw;
        justify-content: center;
        border-top-right-radius: 0;
        border-bottom-left-radius: 40px;
        padding-right: 82px;
        background-size: 188px;
        background-position: 71% 70%;
    }

    .info-container-lower-part {
        height: 100vh;
        width: 54vw;
        margin-top: 0;
        padding-bottom: 0;
        margin-left: -40px;
    }

    .single-pokemon-upper-part img {
        width: 250px;
        height: 205px;
    }

    #myChart {
        top: 0;
        padding: 25px;
        /* height: calc(100vh - 20px) !important; */
    }
}

@media only screen and (orientation: landscape) and (min-width: 1000px) {

    .single-pokemon-view {
        width: 100vw;
    }

    .single-pokemon-upper-part img {
        width: 250px;
        height: 237px;
        margin-top: 25vh;
    }

    .single-pokemon-upper-part {
        background-size: 279px;
        background-position: 49% 53%;
    }

    #myChart {
        padding-bottom: 135px;
        height: calc(100vh - 10px);
    }
}